<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QRCodeTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD5A2F581D77D6EC000239B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5A2F711D77D6ED000239B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD5A2F7C1D77D6ED000239B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
